* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --headerHeight: 110px;
    --asideWidth: 270px;
    --contentRange: 100%;
}

body {
    background-color: rgb(238, 238, 238);
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--headerHeight);
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 9999;
    animation: headerOpen 0.2s ease-out 0s 1 normal forwards;
    animation-play-state: paused;
    margin: 0 auto;
}

.header_container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    line-height: calc(var(--headerHeight)/1.5);
    float: left;
}

.logo a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    font-weight: 800;
    color: black;
}

.header_menu {
    float: right;
    height: 75px;
    padding-right: 20px;
}

.header_menu a {
    display: block;
    font-size: 12px;
    color: black;
    line-height: 75px;
    padding: 0 15px;
    width:100%;
}

#menuButton {
    display: block;
    font-size: 12px;
    color: black;
    line-height: 75px;
    padding: 0 15px;
    cursor: pointer;
}

.header_menu li {
    float: left;
}

.header_downMenu {
    position: absolute;
    width: 100%;
    text-align:center;
    padding-top: 15px;
    display: none;
}


.header_downMenu a {
    display: block;
    line-height: 40px;
    color: black;
    font-size: 12px;
    padding: 0 5vw;
    /**border-left: 0.5px solid rgb(210, 210, 210);
    border-right: 0.5px solid rgb(210, 210, 210);**/
    
}
.header_downMenu li {
    display: inline-block;
    margin:0;
}


.container {
    position: relative;
    top: var(--headerHeight);
    display: flex;
    flex-direction: row;
    min-height: 553px;
    margin: 0 auto;
    overflow: hidden;
}

.container::after {
    display: block;
    clear: both;
    content: '';
}

aside {
    position: absolute;
    width: 0;
    height: 100%;
    flex-grow: 1;
    filter:opacity(0);
    background-color: rgba(245, 245, 245);
    float: left;
    animation: asideUp 0.5s ease-out 0s 1 normal forwards;
    animation-play-state: paused;
}

.top_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: var(--headerHeight);
    width: 100%;
    margin: 0 auto;
}

#aside_top {
    position: absolute;
    width: 0;
    height: var(--headerHeight);
    top: 0;
    left: 0;
    float: left;
    filter:opacity(0);
    background-color: rgba(245, 245, 245);
    animation: asideUp 0.5s ease-out 0s 1 normal forwards;
    animation-play-state: paused;
}

#main_top {
    width: 100%;
    height: var(--headerHeight);
    top: 0;
    background-color: white;
    float: left;

}

main {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    float: left;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.main_content {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

footer {
    position: static;
    margin-top: var(--headerHeight);
    width: 100%;
    height: 50px;
    padding-top: 15px;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(228, 228, 228);
}

footer p {
    padding-top: 5px;
    text-align: center;
    font-size: 10px;
    color: #5a5a5a;
    width: 100%;
}

#bottom_fade {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.212) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 9998;
}

.imgTest {
    width: 600px;
    height: auto;
    max-width: 100%;
}

main > #line {
    width: 80%;
    background-color: rgb(216, 216, 216);
    height: 1.25px;
    margin : 15px auto;
}

@media (max-width: 950px) {
    .header_container {
        width: 100%;
        margin: 0 auto;
    }
    .main_content {
        width: 95%;
    }
}

@keyframes asideUp {
    from {
        width: 0;
        filter:opacity(0);
    }
    to {
        width: var(--asideWidth);
        filter:opacity(1);
    }
}
@keyframes headerOpen {
    from {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    }
    to {
        height: calc(var(--headerHeight) + 65px);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    }
}
@keyframes headerClose {
    from {
        height: calc(var(--headerHeight) + 65px);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    }
    to {
        height: var(--headerHeight);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    }
}
